{% extends 'main.html' %}

{% block content%}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>{{profile.name}}</h1>
      <p>I'm <span class="typed" data-typed-items="Developer, Freelancer, BackEnder"></span></p>
    </div>
  </section><!-- End Hero -->



  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>{{profile.description1 }}</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{profile.profilepic.url}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>UI/UX Designer &amp; Web Developer.</h3>
            <p class="font-italic">
              {{profile.description2}}
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> {{profile.birthday}}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> {{profile.website}}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> {{profile.phone}}</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Address:</strong> {{profile.address}}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> {{profile.age}}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> {{profile.email}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>My Works</h2>
          <p>The projects that I have worked on are listed below. You guys can checkout these projects to find out more about my skills.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          {% for work in works %}
          <div class="col-lg-4 col-md-6 portfolio-item ">
            <div class="portfolio-wrap">
              <img src="{{work.workpic.url}}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{{work.workpic.url}}" data-gall="portfolioGallery" class="venobox" title="{{work.name}}"><i class="bx bx-plus"></i></a>
                <a href="{{work.work_url}}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Below are some of my clients that I have worked for. Hope their reviews were helpful.</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          {% for rev in comments %}
          <div class="testimonial-item" data-aos="fade-up">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {{ rev.comment}}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{{rev.picurl.url}}" class="testimonial-img" alt="">
            <h3>{{rev.name}}</h3>
            <h4>{{rev.profession}}</h4>
          </div>
          {% endfor %}


        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <h2>Contact</h2>
          <p>My contact information are listed below.If you are interested then you can contact me on through the information given below.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>{{profile.address }}</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>{{profile.email }}</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>{{profile.phone}}</p>
              </div>
              {% if api.googleapi.url %}
              <iframe src="{{api.googleapi}}" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
              {% endif %}
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

{% endblock%}